<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
        <form th:action="@{/spring_login}" method="Post" action="#">
            <label>Username</label>
            <br>
            <input type="text" placeholder="Enter username ..." name="username">
            <br>
            <label>Password</label>
            <br>
            <input type="password" placeholder="Enter password ..." name="password">

            <br><br>
            <button>Login</button>
        </form>
</body>
</html>